.main-cont {
  background-image: url(https://assets.ccbp.in/frontend/react-js/match-game-bg.png);
  min-height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.random-img-style {
  height: 300px;
  width: 500px;
  margin: 20px;
  margin-top: 70px;
}
.tab-btn {
  height: 35px;
  width: 80px;
  border-style: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  background-color: transparent;
}

.activeBtn {
  height: 35px;
  width: 80px;
  border: 2px solid goldenrod;
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
  color: #ffffff;
  font-family: 'Roboto';
  font-size: 20px;
  background-color: transparent;
}

.button-item {
  list-style: none;
  display: flex;
  align-items: center;
}
.all-images {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
.all-image-card {
  width: 55%;
}
